@import '../../../../vars.scss';

.login-container {
  padding: 4% 0;
  background-color: $background-color;

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-form-field {
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    gap: 10px;

    label {
      width: 10%;
      text-align: right;
    }

    .login-form-field-content {
      width: 15%;
      text-align: left;
      input {
        width: 100%
      }
    }
  }

  .enabled {
    cursor: pointer;
  }
}
