<header class="main-header">

  <div *ngIf="user$ | async as user">
      <div *ngIf="user.login; else loginBar">
        <nav class="nav-bar">
          <a [routerLink]="['/home']">AskIn</a>
          <ul class="nav-links">
            <li>Bem vindo {{user.login}}!</li>
            <li class="logoutButton" (click)="logout()">Logout</li>
          </ul>
        </nav>
      </div>
  </div>

  <ng-template #loginBar>
    <nav class="nav-bar">
      <a [routerLink]="['/overview']">AskIn</a>
      <ul class="nav-links">
        <li><a [routerLink]="['/overview/sign-up']">Cadastre-se</a></li>
        <li><a [routerLink]="['/overview/login']">Entrar</a></li>
      </ul>
    </nav>
  </ng-template>

<header>
