.main-header{

  padding: 15px;

  .nav-bar{

    .nav-links{
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li{
        padding: 5px;
        background-color: gainsboro;
      }

      .logoutButton{
        color: blue;
        cursor: pointer;
        text-decoration: underline;
      }

    }

  }

}
