@import '../../../vars.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1%;
  background-color:$background-color;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  flex-grow: 3;
}
.sign-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

h2 {
  cursor: pointer;
}
