@import "../../../vars.scss";

.main-footer {
  padding: 1.5%;
  font-size: 15px;
  background-color: $temporary-background-color;
  border-top: 1px solid black;

  .footer-content {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    .email {
      color: blue;
      cursor: pointer;
    }

    .email:hover {
      color: red;
    }

  }
}
